@use "./utilities/variables" as *;

.header-profile {
  padding-top: 6em;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: $color-primary;
  background-image: url("https://www.transparenttextures.com/patterns/az-subtle.png");
}

.header-profile-avatar {
  max-width: 250px;
}

.header-profile-avatar img {
  width: 100%;
}

.header-profile-name {
  color: white;
  font-size: 2em;
  padding-bottom: 1em;
}
