.tweet {
  width: 100%;
  border: 5px solid;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-top: 1em;
}

.header {
  background-color: #f4f1ec;
  height: 2.5em;
  background-image: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tweet-text {
  margin-left: 0.5em;
  margin-right: 0.5em;
  border-bottom: 2px solid black;
  height: 2.0em;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.highlightBox {
  box-shadow: 5px 10px darkslateblue;
}

.iconColor {
  color: red;
}